.conversation-entry-content {
    position: relative;
}

.message-reply-item {
    position: relative;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-right: unset;
    margin-left: unset;
    margin-top: 0;
    background-color: #d0f0ff;
    border-radius: 0.5rem;
    color: #747474;
}
